/**
 * Complete @font-face reference
 * 
 * @link https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face
 */
$font-file: 'fonts/Graphik-Regular-Web';

@font-face {
    font-family: 'Graphik';
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url('#{$font-file}.eot'); // IE8 Fix, yes really
    src:
        url('#{$font-file}.eot'), format('embedded-opentype'),
        url('#{$font-file}.eot?#iefix') format('embedded-opentype'),
        url('#{$font-file}.woff2') format('woff2'),
        url('#{$font-file}.woff') format('woff');
    font-display: swap;
}
